# Python
__pycache__/
*.pyc
*.pyo

# Virtual env
venv/
env/

# Data
# Ignore EVERYTHING inside data/
data/*

# Allow only CSV files inside data/
!data/*.csv

# If you want to allow parquet files too, remove following line
*.parquet

# Jupyter
.ipynb_checkpoints/
